@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
.top-adver{
    background-color: #DBEDF9;
    height:80px;
    position:relative;
}
.top-adver-close{
    position:absolute;
    right:0;
    bottom:0;
    width:20px;
    height:20px;
    background-color: #444444;
    color:#A8A8A8;
    text-align: center;
    font-size:12px;
    padding-top:3px;
    cursor:pointer;
}

.top-adver>.container{
    position: relative;
}
.top-adver>.container>img{
    position:absolute;
    bottom:7px;
    right:0;
}

header{
    height:880px;
    min-height:100%;
    position: relative;
    overflow:hidden;
}
.header-bg{
    width:100%;
    position: absolute;
    left:0;
    top:0;
}
.header-bg img{
    width:100%;
    filter:blur(15px);
}
.header-bg::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    z-index: 1;
}
.header-bg::before{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(3,1,21,0.7);
    z-index: 2;
}
header .container{
    position:relative;
    z-index: 5;
    padding:0 0 50px 0;
}
.header-top{
    position: absolute;
    width:100%;
    padding-top:13px;
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
    z-index: 5;
    height:91px;
}
.logo-box{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:10px;
}
.header-top-nav{
    display: flex;
    justify-content: space-between;

}
.header-top-nav ul{
    display: flex;
}

.header-top-nav li:not(:last-child){
    margin-right: 20px;
}
.header-top-nav li a{
    color:#888;
    font-size:13.1px;

}
.header-top-nav li a:hover{
    text-decoration: underline;
}
.header-quick{
    position: relative;
    width:1100px;
    z-index: 5;
}
.header-quick a{
    display: inline-block;
    position: absolute;
    top:6px;
    width:36px;
    height:36px;
    background-position: center;
    color:#444;
}
.quick-view{
    background: url('../images/ico/ico-sitemap-white.png') no-repeat;
    left:0;
}
.quick-view.on{
    background: url('../images/ico/btn-header-layer-close.png');
}
.quick-search{
    background: url('../images/ico/ico-search-white.png') no-repeat;
    left:40px;
}
.quick-search.on{
    background: url('../images/ico/btn-header-layer-close.png');
}
.quick-reserve{
    background: url('../images/ico/ico-schedule-white.png') no-repeat;
    right:40px;
}
.quick-mypage{
    background: url('../images/ico/ico-mymega-white.png')no-repeat;
    right:0;
    top:9px;
}
.quick-mypage.on{
    background: url('../images/ico/btn-header-layer-close.png');
}
.backpan{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:135px;
}
.header-hide{
    position: absolute;
    top:92px;
    width:100%;
    height:44px;
}
.header-hide.on{
    background-color: rgba(0,0,0,0.2);
}
.header-gnb{
    position: relative;
    width:1100px;
    margin:0 auto;
}
.header-gnb>li>a{
    position: absolute;
    top:-40px;
    display: block;
    width:30px;
    height:40px;
    color:#fff;
    background-position: center 0;
    background-repeat: no-repeat;
    z-index: 99;
    background-color: transparent;
}
.header-gnb>li>a.on{
    border-bottom:3px solid #fff;
}
.nav-movie{
    left:166px;
}
.nav-reserve{
    left:256px;
}
.nav-theater{
    left:345px;
}
.header-gnb>li>a.nav-event{
    right:344px;
    width:48px;
}
.header-gnb>li>a.nav-store{
    right:237px;
    width:48px;
}
.nav-benefit{
    right:149px;
}
.header-lnb{
    position: absolute;
    z-index: 99;
    display: none;
}
.header-lnb.on{
    display: flex;
}
.header-lnb>li:not(:first-child){
    margin-left:19px;
}
.header-lnb>li>a{
    color:#fff;
    line-height: 44px;
}
.header-lnb>li>a:hover{
    text-decoration: underline;
}